#create-post-container{
	width: 100%;
	height: 100%;
	font-family: Gotham-Light, sans-serif;
}

#create-post-container textarea {
	font-family: Gotham, sans-serif;
	border-radius: 8px;
}

#create-post-container textarea:focus {
	outline: none;
	border-color: white;
	box-shadow: 0 0 10px #57068c;
	transition-duration: 0.8s;
}

.question-container{
	margin-left: 20px;
	margin-right: 20px;
}

#inpt-question-title {
	background-color: #f4f4f6;
	border-radius: 4px;
	font-family: Gotham, sans-serif;
}

.question-container input[type=text]:focus {
	outline: none;
	border-color: white;
	box-shadow: 0 0 5px #57068c;
	transition-duration: 0.8s;
}

#inpt-question-content{
	height: 350px;
	width: 100%;
	box-sizing: border-box;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 18px;
}

.post-as-container{
}

#submit-cancel-container{
	display: flex;
	justify-content: space-between;
	margin: 10px 10px 0 10px;
}

#submit-post-btn{
	background-color: #57068c;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
	font-family: Gotham, sans-serif;
}

#submit-post-btn:hover{
	background-color: #330662;
	cursor:pointer;
	transition-duration: 0.4s;
}

#cancel-post-btn{
	background-color: #3dbbdb;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
	font-family: Gotham, sans-serif;
    border-radius: 8px;
}

#cancel-post-btn:hover{
	background-color: #28619e;
	cursor:pointer;
	transition-duration: 0.4s;
}

.show-my-name-label {
	font-family: Gotham, sans-serif;
	color: dimgray;
	font-weight: bold;
}

#show-my-name-selector {
	font-size: 16px;
}