.Header .header a {
    font-family: Gotham-Light, sans-serif;
    font-size: 34px;
}

.Header .header a:hover {
    color: #e6e6e9;
    text-shadow: 1px 1px 3px black, 0 0 3px white, 0 0 3px #f3f3f3;
    transition-duration: 0.2s;
}

.Header .header {
    color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: black;
    height: 70px;
}