@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: Gotham-Thin;
    src: url('../fonts/Gotham-Thin.otf');
}

@font-face {
    font-family: GothamNarrow;
    src: url('../fonts/GothamNarrow-Book.otf');
}

.HomeView {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.HomeView header {
    width:100%;
    height:80px;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
}

.HomeView header #logo {
    font-family: Gotham-Light, sans-serif;
    color: #f3f3f3;
    font-weight: lighter;
    font-size: 45px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.HomeView header #signin {
    font-family: GothamNarrow, sans-serif;
    color: #f3f3f3;
    font-weight: lighter;
    font-size: 22px;
    position: absolute;
    right: 15px;
    top: 30px;
}

.HomeView header #signin:hover {
    box-shadow: inset 0 -1.2px 0 0 white;
}

.HomeView footer {
    width:100%;
    height:80px;
    position: relative;
    bottom:0;
    left:0;
    background-color: black;
}

.HomeView footer a {
    font-family: GothamNarrow, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 15px;
    top: 30px;
}

.HomeView .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("https://live.staticflickr.com/5681/30522452382_dd1363f2a3_b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.HomeView .hero-text {
    font-family: Gotham-Medium, sans-serif;
    font-size: 22px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f3f3f3;
}

.HomeView .hero-text h1 {
    font-size: 3.5em;
    font-weight: lighter;
}

.HomeView .hero-text p {
    font-family: Gotham-Light, sans-serif;
    margin-top: -20px;
}


.HomeView  > div {
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
}

.HomeView #main {
    height: 100vh;
}

.HomeView #main button {
    font-family: Gotham-Light, sans-serif;
    font-size: 18px;
    width: 120px;
    height: 50px;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f3f3f3;
    transition-duration: 0.6s;
    padding: 5px 20px 5px 20px;
    margin: 10px 15px 10px 15px;
}

.HomeView #main #button2 {
    border: 2px solid #f3f3f3;
    background-color: black;
    color: #f3f3f3;
}

.HomeView #main #button2:hover {
    border: 2px solid black;
    cursor: pointer;
}

.HomeView #main button:hover {
    background-color: black;
    color: #f3f3f3;
    cursor: pointer;
}

.HomeView ul {
    display: table;
    margin: 0 auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 25px;
}

.HomeView li {
    padding-top: 3px;
    font-size: 15px;
    font-weight: lighter;
}

.HomeView img {
    position: relative;
    width: 600px;
    margin-bottom: 20px;
    max-width: 90%;
}