.ForumView {
    font-family: Gotham-Light, sans-serif;
}

#AddPostBtn{
    font-family: GothamNarrow, sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #57068c;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

#AddPostBtn:hover {
    background-color: #330662;
    cursor: pointer;
    transition-duration: 0.4s;
}

.PostPreviewContainer {
    text-align: left;
    margin-left: 100px;
}

.PostPreviewDetail {
    text-align: center;
    border-radius: 8px;
    max-width: 1024px;
    margin: 0 auto;
    border-bottom: 2px solid gray;
}


.PostTopicHeader{
    text-align: left;
}

.PostTopic{
    font-size: 21px;
    text-align: left;
    padding-left: 10px;
    display: inline;
    font-weight: bolder;
}

.false .PostTopic{
    color: #bc0604;
}

.ture .PostTopic{
    color: black;
}

.ReplyInfo{
    font-family: GothamNarrow, sans-serif;
    font-size: 15px;
    display: inline;
}

.PostPreview{
    text-align: left;
    padding-left: 10px;
    color: dimgrey;
}

.PostTopicContent{
    font-family: Gotham, sans-serif;
}

.PostPreviewDetail .PostStatusIconContainer{
    text-align: right;
}

.PostStatusIcon{
    max-width: 22px;
}

a{
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

.true {
    background-color: white;
}

.true:hover{
    background: #f4f4f6;
}

.false{
    background-color: #f2f2f2;
}

.false:hover{
    background: #afafb5;
}
