@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: Gotham-Thin;
    src: url('../fonts/Gotham-Thin.otf');
}

@font-face {
    font-family: GothamNarrow;
    src: url('../fonts/GothamNarrow-Book.otf');
}

.NavBarComponentPlaceHolder{
    text-align: center;
    border: 3px solid black;
    /*margin: 20px;*/
}

.CourseList{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    /*margin-left: auto;
    margin-right: auto;*/
    /*width: 50%;*/
    text-align: center;
}

.CourseDetail{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6em;
    font-family: Gotham-Light, sans-serif;
    text-decoration: underline;
}

.CourseDetail:hover{
    /*background-color: thistle;
    color: red;*/
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

.CourseDetail:active{
    /*background-color: thistle;
    color: red;*/
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

#addNewClassBtn{
    background-color: darkslateblue;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    font-family: Gotham, sans-serif;
    border-radius: 8px;
}

#addNewClassBtn:hover {
    background-color:mediumpurple;
    cursor: pointer;
}

.Banner{
    text-align: center;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#BannerImg{
    height: 25vh;
    width: 60vw;
    max-width: 1024px;
    min-width: 250px;
    z-index: -1;
    position: relative;
    display: inline-block;
    /*opacity: 1.0;*/
}

#BannerText{
    font-size: 50px;
    position:absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    top: 17%;
    font-family: Gotham-Medium, sans-serif;
}

#submitNewCourse{
    background-color: darkgreen;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    font-family: Gotham, sans-serif;
    border-radius: 8px;
}

#submitNewCourse:hover {
    background-color:green;
    cursor: pointer;
}

.AddNewCourseArea{
    text-align: left;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:20px;
}

.submissionBtnContainer{
    text-align: center;
}

.GuideUserLine{
    font-family: GothamNarrow, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#cancelNewClassBtn{
    background-color: darkred;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    font-family: Gotham, sans-serif;
    border-radius: 8px;
}

#cancelNewClassBtn:hover {
    background-color:red;
    cursor: pointer;
}

.SemesterOptionsContainer {
    position: relative;
    font-family: Gotham-Thin, sans-serif
}

