@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Book.otf');
}

.LoginView {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: #95859c;
    font-family: Gotham, sans-serif, sans-serif;
}

.LoginView header {
    width:100%;
    height:70px;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
}

.LoginView header #logo {
    font-family: Gotham-Light, sans-serif;
    color: #f3f3f3;
    font-weight: lighter;
    font-size: 45px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.LoginView footer {
    width:100%;
    height:70px;
    position: fixed;
    bottom:0;
    left:0;
    background-color: black;
}

.LoginView footer a {
    font-family: Gotham, sans-serif;
    font-size: 18px;
    color: white;
    position: absolute;
    left: 15px;
    top: 25px;
}

.LoginView  > div {
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
    background-color: #f3f3f3;
}

.LoginView #main {
    height: 120vh;
}

.LoginView #login {
    width: 350px;
    border: 10px solid black;
    margin-top: 130px;
    display: inline-block;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 4px;
}

.LoginView #login h2 {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 20px;
}

.LoginView form {
    display: inline-block;
    width: 70%;
}


.LoginView label span{
    display: block;
    text-align: left;
    padding-left: 3px;
}

.LoginView input {
    text-align: center;
    width: 100%;
}

.LoginView input[type=text] {
    width: 100%;
    padding: 7px 0 7px 0;
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.LoginView input[type=submit] {
    width: 70%;
    font-size: 18px;
    background-color: #330662;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 30px 0 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: Gotham, sans-serif;
}

.LoginView input[type=submit]:hover {
    background-color: #220337;
    box-shadow: 0 0 5px #a6a5c4;
}

.LoginView form p {
    padding-top: 15px;
    padding-bottom: 35px;
}

.SignUpLink:hover{
    box-shadow: inset 0 -1.2px 0 0 black;
}

.LoginErrMsgBlock{
    display: block;
    /*text-align: center;*/
    color: #9a0000;
    margin-bottom: 10px;
}

.LoginRegisInputs{
    text-align: center;
    width: 100%;
    padding: 7px 0 7px 0;
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 25px;
    padding-top:5px;
}

.LoginView input[type=email] {
    text-align: left;
    padding-left: 20px;
    height: 40px;
    margin-bottom: 25px;
}

.LoginView input[type=password] {
    text-align: left;
    padding-left: 20px;
    height: 40px;
}

.LoginView input:focus{
    outline: none;
    border-color: black;
    box-shadow: 0 0 1px black;
}

@media only screen and (max-width: 480px) {
    .LoginView header {
        height: 60px;
    }

    .LoginView header #logo{
        font-size: 34px;
    }

    .LoginView footer {
        height: 60px;
    }

    .LoginView #login {
        width: 90%;
        margin-top: 80px;
    }
}