.LoginView {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: #95859c;
    font-family: Helvetica, sans-serif;
}

.LoginView #header {
    width: 100vh;
    text-align: left;
    background-color: #95859c;
    height: 50px;
}

.LoginView #header a {
    color: #f3f3f3;
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    margin: 5px;
    text-decoration: none;
}

.LoginView  > div {
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
    background-color: #f3f3f3;
}

.LoginView #main {
    height: 100vh;
}

.LoginView #login {
    width: 280px;
    border: 10px solid #95859c;
    margin: 50px;
    display: inline-block;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 4px;
}

.LoginView #login h2 {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 20px;
}

.LoginView form {
    display: inline-block;
    width: 70%;
}

.LoginView label {

}

.LoginView label span{
    display: block;
    text-align: left;
    padding-left: 3px;
}

.LoginView input {
    text-align: center;
    width: 70%;
}

.LoginView input[type=text] {
    width: 100%;
    padding: 7px 0 7px 0;
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.LoginView input[type=submit] {
    width: 70%;
    font-size: 14px;
    background-color: #745582;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 30px 0 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.LoginView input[type=submit]:hover {
    background-color: #573069;
}

.LoginView form p {

}

/*

button {
    margin: 10px;
}

div.container {
    display: flex;
    justify-content: center;
}

form {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    display: block;
    padding: 5px;
}

 */