.LoginView {

}

/*
div #login {
    border: 1px solid black;
}

button {
    margin: 10px;
}

div.container {
    display: flex;
    justify-content: center;
}

form {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    display: block;
    padding: 5px;
}

 */