.MembersListView .main{
    padding: 5px 30px 20px;
}

.MembersListView .bar {
    text-align: center;

}

.MembersListView #addBtn {
    text-align: right;
}

.MembersListView #addBtn button {
    font-size: 15px;
    border-radius: 4px;
}

.MembersListView #addBtn button:focus {
    outline:none;
}

.MembersListView #add {
    position: absolute;
    background-color: #c8c2c6;
    top: 12rem;
    z-index: 1;
    width:400px;
    height: 400px;
    margin-left:-200px;
    left:50%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 5px #95949a;
}

.MembersListView #add h2 {
    font-size: 25px;
    font-weight: normal;
    padding-top: 30px;
}

.MembersListView #closeAdd {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    border: 1px solid grey;
}

.MembersListView #closeAdd:focus {
    outline:none;
}

.MembersListView #closeAdd:hover {
    cursor: pointer;
}

.MembersListView #add form {
    padding-left: 80px;
    padding-right: 80px;
}

.MembersListView label span {
    display: block;
    text-align: left;
    padding-left: 2px;
}

.MembersListView #add label {
    font-size: 18px;
}

.MembersListView #add input[type=text] {
   height: 10px;
}

.MembersListView #add input[type=submit] {
    width: 70%;
    font-size: 18px;
    background-color: #745582;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 30px 0 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.MembersListView #add input[type=submit]:hover {
    background-color: #573069;
}

.MembersListView #add input[type=radio] {
    position: relative;
    transform: scale(1.5);
    margin-right: 10px;
}

.MembersListView #add #radio-1 {
    left: -10px;
}

.MembersListView #add #radio-2 {
    left: -4px;
}

.MembersListView #add #label-1 {
    position: relative;
    left: -10px;
}

.MembersListView #add #label-2 {
    position: relative;
    left: -4px;
}

.MembersListView #delete {
    position: absolute;
    background-color: #c8c2c6;
    top: 15rem;
    z-index: 1;
    width: 400px;
    height: 250px;
    margin-left:-200px;
    left:50%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 5px #95949a;
}

.MembersListView #delete p {
    padding-top: 60px;
    font-size: 19px;
}

.MembersListView #delete .btn {
    width: 25%;
    font-size: 18px;
    background-color: #745582;
    color: white;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.MembersListView #delete .btn:focus {
    outline:none;
}

.MembersListView #delete .btn:hover {
    cursor: pointer;
    background-color: #573069;
}

.MembersListView #closeDelete {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    border: 1px solid grey;
}

.MembersListView #closeDelete:focus {
    outline:none;
}

.MembersListView #closeDelete:hover {
    cursor: pointer;
}

.MembersListView #deleteBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.MembersListView h3 {
    text-align: left;
    font-size: 25px;
    font-weight: normal;
}

.MembersListView .members {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 30px;
}

.MembersListView .member {
    background-color: #745582;
    color: white;
    padding: 1rem;
    height: 10rem;
    max-width: 300px;
    position: relative;
    border-radius: 4px;
}

.MembersListView .member p {

}

.MembersListView .member #name {
    font-size: 25px;
}

.MembersListView .member #email {
    font-size: 18px;
}

.MembersListView #instructors .member {

}

@media (min-width: 480px) {
    .members { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .members { grid-template-columns: repeat(3, 1fr); }
}

