.RegisterView {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: #95859c;
    font-family: Helvetica, sans-serif;
}

.RegisterView #header {
    width: 100vh;
    text-align: left;
    background-color: #95859c;
    height: 50px;
}

.RegisterView #header a {
    color: #f3f3f3;
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    margin: 5px;
    text-decoration: none;
}

.RegisterView > div {
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
    background-color: #f3f3f3;
}

.RegisterView #main {
    height: 100vh;
}

.RegisterView #register {
    width: 330px;
    border: 10px solid #95859c;
    margin: 50px;
    display: inline-block;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 4px;
}

.RegisterView #register h2 {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 20px;
}

.RegisterView form {
    display: inline-block;
    width: 70%;
}

.RegisterView label {

}

.RegisterView label span{
    display: block;
    text-align: left;
    padding-left: 3px;
}

.RegisterView input {
    text-align: center;
    width: 70%;
}

.RegisterView input[type=text] {
    width: 100%;
    padding: 7px 0 7px 0;
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.RegisterView input[type=submit] {
    width: 70%;
    font-size: 14px;
    background-color: #745582;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 30px 0 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.RegisterView input[type=submit]:hover {
    background-color: #573069;
}

.RegisterView form p {

}

.RegisterView button {
    margin: 10px;
}

.RegisterView #buttons input {
    border-radius: 4px;
    width: 80px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 20px;
    transition-duration: 0.4s;
}

.RegisterView #on {
    background-color: #745582;
    color: #f3f3f3;
}

.RegisterView #off {
    background-color: #f3f3f3;
}

.RegisterView #buttons input:hover {
    cursor: pointer;
}

.RegisterView #buttons input:focus {
    outline: none !important;
}

.RegisterView #buttons input:active {
    background-color: #745582;
}

/*
button {
    margin: 10px;
}
div.container {
    display: flex;
    justify-content: center;
}
form {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}
label {
    display: block;
    padding: 5px;
}
 */
/*
div #register {
    border: 1px solid black;
}
#buttons input {
    margin: 5px;
}
div.container {
    display: flex;
    justify-content: center;
}
form {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}
label {
    display: block;
    padding: 5px;
}
#on {
    background-color: black;
    color: white;
}
#off {
    background-color: white;
    color: black;
}
#buttons input:focus {
    outline: none !important;
}
 */