div #register {
    border: 1px solid black;
}

#buttons input {
    margin: 5px;
}

div.container {
    display: flex;
    justify-content: center;
}

form {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    display: block;
    padding: 5px;
}

#on {
    background-color: black;
    color: white;
}

#off {
    background-color: white;
    color: black;
}