@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: Gotham-Medium;
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: Gotham-Thin;
    src: url('../fonts/Gotham-Thin.otf');
}

@font-face {
    font-family: GothamNarrow;
    src: url('../fonts/GothamNarrow-Book.otf');
}

#scheduleHeader{
	font-family: Gotham-Light, sans-serif;
}

#section-content{
	margin-left: 5%;
	margin-right: 5%;
}

#calendarText{
	font-size: 20px;
	font-family: Gotham, sans-serif;
}

.row{
	box-sizing: border-box;
	border: 1px solid black;
	text-align: initial;
	position: relative;
	font-family: Gotham, sans-serif;
}
.dateField{
	box-sizing: border-box;
	margin: 0 !important;
	padding: 20px 0px !important;
	font-size: 1.4em !important;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	text-align: center;
	font-family: inherit;
}
.topicField{
	box-sizing: border-box;
	width: 33%;
	height: 150px;
	resize: none;
	position: relative;
	bottom: 0px;
	border-bottom: 1px solid black;
	font-family: inherit;
	font-size: 1.15em;
}
.notesField{
	box-sizing: border-box;
	width: 33%;
	height: 150px;
	resize: none;
	font-family: inherit;
	font-size: 1.15em;
}
.asgnField{
	box-sizing: border-box;
	width: 34%;
	height: 150px;
	resize: none;
	font-family: inherit;
	font-size: 1.15em;
}

.detail-buttons-container{
	width: 130px;
	margin: 0px 0px 0px 0px;
	position: absolute;
	top: 10px;
	right: 0px;
	font-family: Gotham, sans-serif;
}

.edit-date-details{
	background-color: darkslateblue;
    color: white;
    padding: 6px 10px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    border-radius: 8px;
    font-family: inherit;
}
.edit-date-details:hover{
	background-color: mediumpurple;
    cursor: pointer;
}

.delete-date-details{
	background-color: darkred;
    color: white;
    padding: 6px 8px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    border-radius: 8px;
    font-family: inherit;
}
.delete-date-details:hover{
	background-color: red;
	cursor:pointer;
}

.save-date-details{
	background-color: darkgreen;
    color: white;
    padding: 6px 8px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    border-radius: 8px;
}

.save-date-details:hover{
	background-color: green;
	cursor:pointer;
}

.cancel-date-details{
	background-color: darkred;
    color: white;
    padding: 6px 7px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    border-radius: 8px;
}

.cancel-date-details:hover{
	background-color: red;
	cursor:pointer;
}

#add-day-btn{
	background-color: rgba(225,225,225,0.2);
    color: rgba(0,0,0,0.85);
    padding: 6px 8px;
    text-align: center;
    font-size: 16px;
    font-family: Gotham, sans-serif;
    border-radius: 8px;
}
#add-day-btn:hover{
	color: rgba(0,0,0,1);
	background-color: rgba(160,160,160,0.90);
	cursor: pointer;
}

.hiding{
	display: none;
}


#calendar-table input[type=text]:focus {
	outline: none;
	border-color: grey;
	box-shadow: 0 0 10px #330662;
	transition-duration: 0.4s;

}

#calendar-table form {
	border-radius: 4px;
}

#calendar-table textarea {
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
}

#calendar-table textarea:focus {
	outline: none;
	border-color: grey;
	box-shadow: 0 0 10px #330662;
	transition-duration: 0.4s;
}