.student{
	display: none;
}

#syllabus-header{
    background: #373a47;
}

.biazza-header{
    color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#syllabus-container{
    background-color: rgba(174, 168, 211, 1);
    height: 100vh;
}

#syllabus-text-area{
	width: 80%;
	height: 60vh;
	min-height: 300px;
    background: rgba(174, 168, 211, 1);
}

#edit-btn{
	background-color: darkblue;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border-left: 0px;
    border-top: 0px;
}

#edit-btn:hover{
	background-color: blue;
	cursor:pointer;
}

#submit-btn{
	background-color: darkgreen;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border-left: 0px;
    border-top: 0px;
}

#submit-btn:hover{
	background-color: green;
	cursor:pointer;
}

#cancel-btn{
	background-color: darkred;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border-left: 0px;
    border-top: 0px;
}

#cancel-btn:hover{
	background-color: red;
	cursor:pointer;
}