.ViewPost {
    font-family: Gotham-Light, sans-serif;
}


.PostDetailContainer{
    max-width: 1024px;
    margin: 0 auto;
    font-family: Gotham, sans-serif;
}



.QuestionHeader{
    text-align: left;
    display: flex;
    font-size: 16px;
    margin-bottom: 1px;
    margin-left: 15px;
}

#QuestionTopic{
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    color:black;
    padding: 12px;
    border-radius: 10px;
}

#QuestionTopic .problemNotSolved {
    color: white;
}

.problemSolved{
    background-color: #f4f4f6;
}

.problemNotSolved{
    background-color: #afafb5;
}

.content{
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 18px;
}

.BottomInfo{
    color: dimgray;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;

}

.AuthorLabel{
    font-weight: bold;
    margin-left: 15px;
}

.date{
    margin-right: 15px;
}

.AnswerHeader{
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 6px;
    color:white;
    padding: 12px;
    border-radius: 10px;
    font-style: italic;
}

#OfficialAnswerHeader{
    background-color: #57068c;
}

#StudentAnswerHeader{
    background-color: #28619e;
    margin-bottom: 10px;
}

.OfficialAnswerContainer{
    margin-bottom: 15px;

}

.StudentAnswerContainer{
    border-radius: 8px;
    margin-bottom: 15px;
}

.ReplyFunctionContainer{
    width:fit-content;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    text-align: left;
    border-radius: 18px;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    border: 2px solid white;
}

.ReplyFunctionContainer:hover{
    border: 2px solid darkslateblue;
    cursor: pointer;
}

.ReplyFunctionContainer:active{
    border: 2px solid darkslateblue;
    color: purple;
}

.UpVoteContainer{
    width:fit-content;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 18px;
}

.UpVoteContainer:hover{
    border: 2px solid darkslateblue;
    cursor: pointer;
}

.UpVoteContainer:active .UpVoteCount {
    color: forestgreen;
}

.NoVote .UpVoteCount{
    color: forestgreen;
}

.UpVoteCount{
    font-size: 13px;
    display: inline;
    text-align: right;
    margin-right: 15px;
}

.EditTextContainer{
    text-align: right;
    margin-right: 15px;
}


.UpVoteImg{
    margin-left: 5px;
    max-width: 65%;
    vertical-align: middle;
}

.EditImg{
    margin-left: 5px;
    max-width: 65%;
    vertical-align: middle;
}
.DeleteImg{
    margin-left: 5px;
    max-width: 65%;
    vertical-align: middle;
}

.UpvoteText{
    font-weight: bold;
}

.AddReplyBtn{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #57068c;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.AddReplyBtn:hover{
    background-color: #330662;
    cursor: pointer;
    color:white;
    transition-duration: 0.4s;
}

.AddReplyBtn:visited{
    color:white;
}
.BackToForumBtn{
    background-color: #3dbbdb;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 8px;
}

.BackToForumBtn:hover{
    background-color: #28619e;
    cursor: pointer;
    transition-duration: 0.4s;
}

.BackBtnContainer{
    text-align: left;
    margin-left: 2px;
    margin-bottom: 5px;
    width:fit-content;
}

.FunctionContainer{
    /*border: 3px solid red;*/
    text-align: left;
}

.DeleteContainer{
    border: 2px solid white;
}


.DeleteContainer:hover{
    color: #bc0604;
    border: 2px solid #bc0604;
}
